.container {
    display: grid;
    margin: 10px 10px;
    justify-content: center;

    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;


    grid-template-areas:
    "n1 n2 n3"
    "n4 n5 n6"
    "n7 n8 n9"
    "n10 n11 n12"
    "n13 n14 n15"
    "n16 n17 n18";
}

.button-style {
    padding: 15px 18px;
    color: whitesmoke;
    background-color: #04a96d;
    border: 2px solid #04a96d;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s
}

.button-style:hover {
    border: 2px solid #04a96d;
    background-color: #e8e9eb;
    color: #04a96d;
}

.flexbox {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
  }

.flex-button {
    align-items: center;
    margin: 10px 10px 10px 10px;
    width: 60px;
    height: 60px;
}

#num1 {
    grid-area: n1;
}

#num2 {
    grid-area: n2;
}

#num3 {
    grid-area: n3;
}

#num4 {
    grid-area: n4;
}

#num5 {
    grid-area: n5;
}

#num6 {
    grid-area: n6;
}

#num7 {
    grid-area: n7;
}

#num8 {
    grid-area: n8;
}

#num9 {
    grid-area: n9;
}

#numMul {
    grid-area: n10;
} 

#numAdd {
    grid-area: n11;
} 

#numSub {
    grid-area: n12;
} 

#numClear {
    grid-area: n13;
} 

#numBack {
    grid-area: n14;
} 

#numDiv {
    grid-area: n15;
} 

#numEquate {
    grid-area: n16;
} 

#textBox {
    display: block;
    margin: 50px auto;
    height: 55px;
    width: 200px;
    font-size: 32px;
    border: 2px solid #04a96d;
    border-radius: 10px;
}